body {
  margin: 0;
  padding: 0;
}

.thumbnail-icon {
  z-index: 10;
  height: 50px;
  width: 50px;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 20px;
  border: #1e1d51 solid 1px;
  opacity: 0.8;
}

.default-image {
height: 100%;
width: 100%;
object-fit: 'cover';
cursor: 'zoom-in';
}

