.on {
  color: black;
}
.off {
  color: rgb(230, 230, 230);
}
.star {
 font-size: large;
}
.heart {
  color:red;
  font-size: 20px;
  position: absolute;
  right:5px;
  cursor:pointer;
}
#slideLeft {
  position: absolute;
  top: 50%;
  left:-10px;
}
#slideRight {
  position: absolute;
  top: 50%;
  right:0px;
}