body {
  font-family: 'Roboto', sans-serif;
}

.contentContainer {
  width:70%;
  margin: 0 auto;
}
.on {
  color: black;
}
.off {
  color: rgb(230, 230, 230);
}

.myTitle{
  margin-left: 50px;
  padding-top:10px;
}
.star {
  font-size: 20px;
  position: absolute;
  top:10px;
  right:0px;
  cursor:pointer;
  font-weight: bold;
  z-index: 999;
  color: aliceblue;
}
.delete {
  font-size: 25px;
  position: absolute;
  right:10px;
  bottom:5px;
  cursor:pointer;
  z-index: 60;
}
.addtoOutfit{
  background-color: transparent;
  outline: none;
  border:none;
  cursor:pointer;
  padding-bottom: 2px;
}
#slideLeft {
  position: absolute;
  top: 40%;
  left:-10px;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor:pointer;
  padding:30px 12px;
}
#slideRight {
  position: absolute;
  top: 40%;
  right:0px;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor:pointer;
  padding:30px 12px;
}
#slideRight:hover{
  background-color: black;
  color:white;
  transition-duration: 0.5s;
}
#slideLeft:hover{
  background-color: black;
  color:white;
  transition-duration: 0.5s;
}
#relatedslideLeft {
  position: absolute;
  top: 50%;
  left:-10px;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor:pointer;
  padding:30px 12px;
}
#relatedslideLeft:hover{
  background-color: black;
  color:white;
  transition-duration: 0.5s;
}
#relatedslideRight:hover{
  background-color: black;
  color:white;
  transition-duration: 0.5s;
}
#relatedslideRight {
  position: absolute;
  top: 50%;
  right:10px;
  border:none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor:pointer;
  padding:30px 12px;
}

.itemInfo{
  margin-left:10px;
  margin-top:10px;
}
.starStyle {
  margin-left: 10px;
}
#pop {
  position:fixed;
  width:55vw;
  height:65vh;
  top:50%;
  transform:translateY(-50%);
  right:25vw;
  color:white;
  z-index: 999;
  display: flex;
  background-image: url('https://images.unsplash.com/photo-1491897554428-130a60dd4757?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1700&q=80');
  animation-name: spin;
  animation-duration: 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateY(0%);
    opacity : 0;
  }
  to{
    transform: rotate(360deg) translateY(-50%);
    opacity : 1;
  }
}

.buttonConatainer{
  display:flex;
  justify-content: space-between;
  padding:5px;
}

#shade{
  width:100%;
  height:100%;
  background: linear-gradient(to right, rgba(3, 37, 65, 0.75) 0%, rgba(3, 37, 65, 0.75) 100%);
  display:flex;
  justify-content: space-around;
}

.seleted{
  display: inline-block;
  width:50%;
  text-align: center;
  margin-top:1.7rem;
}
.seleted>img{
  width:88%;
  height:70%;
  object-fit: cover;
  border-radius: 10px;
}

#popbtn {
  position: absolute;
  top:0;
  right:0;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  color:white;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-color: rgb(97, 90, 90);
  border: 1px solid #ddd;
  opacity: 0.8;
  cursor:pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.show-button{
  display: block;
}

.photolist {
  width:100%;
  object-fit: cover;
}

/* share buttons */
.share-btn-container {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 16px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.3); */
}
i {
  margin-right: 5px;
  margin-left: 5px
}
.share-btn-container i {
  font-size: 32px
}

.share-btn-container i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

/* media queries */

